#submitButton {
	margin-top: 20px;
	margin-bottom: 200px;
}
#question {
	margin-top: 20px;
}
#retryButton {
	margin-top: 20px;
	margin-bottom: 200px;
	display: none;
}
.jumbotron {
	margin-bottom: 10px;
}