#submitButton {
	margin-top: 20px;
	margin-bottom: 20px;
}
#questionHeader {
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: bold;
}
#retryButton {
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
}
.jumbotron {
	margin-bottom: 10px;
}
.progress {
	margin-top: 10px;
	margin-bottom: 10px;
}