#submitButton {
	margin-top: 20px;
	margin-bottom: 20px;
}
#questionHeader {
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: bold;
}
#retryButton {
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
}
.jumbotron {
	margin-bottom: 10px;
}
.progress {
	margin-top: 10px;
	margin-bottom: 10px;
}
#questionImage {
	max-width: 100%;
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
#imageContainer {
	width: 100%;
	height: 500px;
}